body{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    height: 100%;	
    margin-bottom:20px;      
}
html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
}
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;    
}
.custom-control-label{
	font-size:16px;
}
.card-title{
	font-size:20px;
}
.qrc{
  margin-bottom:5px;
}
#vchecklist-card{
  display:none;
}
#vchecklist-card2{
  display:none;
}
.wd-action{
  width:65px;
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {    
    body{
      margin-top:100px;
      margin-bottom: 80px;
    }
    .qrc{
      margin-top:20px;      
    }    
    .cardmargin{
      margin-left: 10px;
	    margin-right: 8px;
    }    
    .wd-action{
      width:auto;
    }
}